.comp-list {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;

  .bottom-nav {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  .comp-table {
    overflow: auto;
    width: 96%;
    margin: 4px auto;
    height: calc(100% - 128px);
  }

  .comp {
    padding: 8px;
  }

  .comp .description {
    margin-top: 2px;
    margin-left: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .search-box {
    width: 96%;
    margin: 8px auto;
    padding: 0 24px;
  }

}