$amber-500: #FFC107;

.comp-editor {

  margin: 8px;

  .preview-container {
    background: repeating-linear-gradient(
      -45deg,
      #eee,
      #eee 10px,
      #ccc 10px,
      #ccc 20px
    );
    padding: 8px;

  }

}