.page {
  width: 100%;
  height: 100%;

  .page-content {
    position: relative;
    width: 100%;
    height: calc(100% - 4em);
  }
}

.page.immersive-page {
  .app-bar {
    display: none !important;
  }

  .page-content {
    height: 100%;
  }
}